<div class="form-group">
  <label for="email" >Email:</label>
  <input type="email" name='email' placeholder="name@website.com" class="form-control"/>
</div>
<!-- <input type='text' name='username'/> -->
<div class="form-group">
  <label for="password" >Password:</label>
  <input type='password' name='password' placeholder="password" class="form-control"/>
</div>
<button type="submit" class="btn btn-primary"><%= confirmMsg %></button>